
.syntax {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.syntax label {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.syntax input {
    width: 50%;
    margin-bottom: 10px;
}

.syntax .form-control-static {
    flex: 1;
}
