@page
@model IndexModel
@{
    ViewData["Title"] = "Goal";
}
<br/>
<p>On this page, you can construct SMART learning goals and organize them into structured paths and hierarchies. Use the eye icon to view details, the pencil icon to indicate edits, and the move arrows to reorder.</p>

<ul id="menu"></ul>
<script src="~/js/goal.js" asp-append-version="true"></script>