@page
@model IndexModel
@{
    ViewData["Title"] = "Monitor";
}
<div id="control_screen"><div id="smileyContainer"></div></div>
<div id="buttonContainer"></div>

<script src="~/js/smiley.js" asp-append-version="true"></script>
<script src="~/js/collective.js" asp-append-version="true"></script>
