@page
@model IndexModel
@{
    ViewData["Title"] = "Skill";
}
<br/>
<p>On this page, you can construct SMART learning skills and organize them into structured paths and hierarchies. Use the eye icon to view details, the pencil icon to indicate edits, and the move arrows to reorder.</p>

<ul id="menu"></ul>
<script src="~/js/skill-hierachy.js" asp-append-version="true"></script>

<div id="graph-guide">
    <ul>
        <li><strong>Nodes (Neurons)</strong>: Represent skills.
            <ul>
                <li><span style="color:green">Green</span>: Achieved skills.</li>
                <li><span style="color:blue">Blue</span>: Skills being worked on.</li>
                <li><span style="color:red">Red</span>: Skills to be started.</li>
            </ul>
            Drag or click nodes to explore. Start from the left (initial skills) and move right to follow the learning journey.
        </li>
        <li><strong>Dendrites & Links</strong>: Shows how learning activities can lead to new skills emerging from Prior Acquired Skills. The thickness indicates the study load or weight of the activity for example in <a href="https://en.wikipedia.org/wiki/European_Credit_Transfer_and_Accumulation_System">ECTS</a>.</li>
    </ul>
</div>

<svg width="800" height="600" id="neural_network"></svg>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="~/js/learning_path.js" asp-append-version="true"></script>